### Demonstration of Data Collection / Extraction from various sources

As part of Data Scientist activities, Data collection or extraction is one of the steps which takes quite a good amount of time and effort

###### For this particular Use Case, we are extracting state wise Covid-19 cases in USA from various sources

#### There are multiple sources in which data is resided & a Data Scientist should be able to extract the data. Below are few sources
1.Website <br>
2.API <br>
3.Documents such as PDF <br>
4.RDBMS <br>

##### Exercise 1: To scrape the data from a website

In [93]:
# Import libraries
import requests
import numpy as np
import pandas as pd
from pathlib import Path

In [94]:
Data_URL = 'https://www.worldometers.info/coronavirus/country/us/'

r = requests.get(Data_URL)
print(f'Status: {r.status_code}') # Status: 200 states that the response is success from website

Status: 200

Documentation for BeautifulSoup library - https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [95]:
# Import BeautifulSoup
import bs4
from bs4 import BeautifulSoup as BS

page = BS(r.content, 'html.parser')
table = page.table

In [96]:
print(table.tbody.tr.prettify())

<tr class="total_row_usa">
 <td style="text-align:left;">
  USA Total
 </td>
 <td>
  2,727,996
 </td>
 <td>
  +143
 </td>
 <td>
  130,123
 </td>
 <td>
  +1
 </td>
 <td>
  1,454,383
 </td>
 <td>
  8,242
 </td>
 <td>
  393
 </td>
 <td>
  34,199,918
 </td>
 <td>
  103,322
 </td>
 <td>
 </td>
 <td>
 </td>
</tr>

In [147]:
from typing import List

def extract_from_table(table: bs4.element.Tag) -> List:
    '''Extracts data from HTML table.
    
    Input:  bs4 *table*
    Return: List of all the values in the table
    '''
    data = list()
    
    for row in table.select('tbody tr'):
        data.append([col.text for col in row.find_all('td')])
        
    return data

data_table = extract_from_table(table)
data_table[0:10]

[['USA Total',
  '2,727,996',
  '+143',
  '130,123',
  '+1',
  '1,454,383',
  '8,242',
  '393',
  '34,199,918',
  '103,322',
  '\xa0',
  '\xa0'],
 ['\nNew York ',
  '417,836 ',
  '\n',
  '\n32,129 ',
  ' ',
  '\n296,232 ',
  '21,479',
  '1,652',
  '\n3,914,938 ',
  '201,245',
  '\n[view by county]\xa0[1]\xa0[2]\xa0[3]\xa0[4]\xa0 ',
  '\n[projections]\n'],
 ['\nCalifornia ',
  '230,891 ',
  '\n',
  '\n6,081  ',
  ' ',
  '\n161,148 ',
  '5,844',
  '154',
  '\n4,168,509 ',
  '105,499',
  '\n[view by county]\xa0[1]\xa0 ',
  '\n[projections]\n'],
 ['\nNew Jersey ',
  '176,953 ',
  '\n',
  '\n15,177 ',
  ' ',
  '\n116,634 ',
  '19,922',
  '1,709',
  '\n1,422,374 ',
  '160,138',
  '\n[view by county]\xa0[1]\xa0 ',
  '\n [projections]\n'],
 ['\nTexas ',
  '167,269 ',
  '\n',
  '\n2,496 ',
  ' ',
  '\n79,955 ',
  '5,769',
  '86',
  '\n2,119,036 ',
  '73,081',
  '\n[view by county]\xa0[1]\xa0[2]\xa0 ',
  '\n[projections]\n'],
 ['\nFlorida ',
  '152,434 ',
  '\n',
  '\n3,505 ',
  ' ',
  '\n125,011 ',
  '7,097',
  '163',
  '\n1,946,510 ',
  '90,629',
  '\n[view by county]\xa0[1]\xa0[2]\xa0[3]\xa0 ',
  '\n[projections]\n'],
 ['\nIllinois ',
  '144,238 ',
  '\n',
  '\n7,124 ',
  ' ',
  '\n25,505 ',
  '11,383',
  '562',
  '\n1,604,018 ',
  '126,581',
  '\n[1]\xa0[2]\xa0[3]\xa0[4]\xa0 ',
  '\n[projections]\n'],
 ['\nMassachusetts ',
  '108,882 ',
  '\n',
  '\n8,054 ',
  ' ',
  '\n9,424 ',
  '15,797',
  '1,169',
  '\n914,646 ',
  '132,702',
  '\n[1]\xa0 ',
  '\n[projections]\n'],
 ['\nPennsylvania ',
  '91,228 ',
  '\n',
  '\n6,702 ',
  ' ',
  '\n16,974  ',
  '7,126',
  '524',
  '\n775,037 ',
  '60,540',
  '\n[view by county]\xa0[1]\xa0 ',
  '\n[projections]\n'],
 ['\nGeorgia ',
  '81,291 ',
  '\n',
  '\n2,805 ',
  ' ',
  '\n69,234 ',
  '7,656',
  '264',
  '\n991,501 ',
  '93,384',
  '\n[1]\xa0 ',
  '\n[projections]\n']]

In [98]:
# Setting the column names 
columns = ['USA State','Total Cases','New Cases','Total Deaths','New Deaths','Active Cases','Total Cases per 1M pop','Deaths per 1M pop','Total Tests','Tests per 1M pop','View','projections']
stats = pd.DataFrame(data_table, columns=columns)
stats.dtypes

USA State                 object
Total Cases               object
New Cases                 object
Total Deaths              object
New Deaths                object
Active Cases              object
Total Cases per 1M pop    object
Deaths per 1M pop         object
Total Tests               object
Tests per 1M pop          object
View                      object
projections               object
dtype: object

In [99]:
stats.head(2)

,USA State,Total Cases,New Cases,Total Deaths,New Deaths,Active Cases,Total Cases per 1M pop,Deaths per 1M pop,Total Tests,Tests per 1M pop,View,projections
0,USA Total,"2,727,996",+143,"130,123",+1,"1,454,383","8,242",393,"34,199,918","103,322",,
1,\nNew York,"417,836",\n,"\n32,129",,"\n296,232","21,479","1,652","\n3,914,938","201,245",\n[view by county] [1] [2] [3] [4],\n[projections]\n

In [100]:
# Lets remove unwanted columns from the data set
cols=['New Cases','New Deaths','View','projections']
stats.drop(columns=cols,inplace=True)

In [101]:
stats.head(2)

,USA State,Total Cases,Total Deaths,Active Cases,Total Cases per 1M pop,Deaths per 1M pop,Total Tests,Tests per 1M pop
0,USA Total,"2,727,996","130,123","1,454,383","8,242",393,"34,199,918","103,322"
1,\nNew York,"417,836","\n32,129","\n296,232","21,479","1,652","\n3,914,938","201,245"

In [102]:
# Data Clean up 
# Below function iterates through every column in the df, to iterarte through each column
def cleanup_df():
    for col in stats.columns:
        print(col)
        stats[col]=stats[col].str.replace(',','') # Replacing commma with blank
        stats[col]=stats[col].str.replace('\n','',regex=True) # Replacing \n with blank
        #stats[col]=stats[col].str.replace("",'0')
        stats[col]=stats[col].str.strip() # Stripping the unwanted spaces at the start & at the end of the values in the column
        stats.loc[stats[col] =='', col] = 0 # Assigning a value '0', where there are no values in the data set

In [104]:
# Calling the function
cleanup_df()

USA State
Total Cases
Total Deaths
Active Cases
Total Cases per 1M pop
Deaths per 1M pop
Total Tests
Tests per 1M pop

In [105]:
# All the columns are in string data type. Need to convert into 'int' data type to perform arithematic operations further
stats[['Total Cases','Total Deaths','Active Cases','Total Cases per 1M pop','Deaths per 1M pop','Total Tests','Tests per 1M pop']] = stats[['Total Cases','Total Deaths','Active Cases','Total Cases per 1M pop','Deaths per 1M pop','Total Tests','Tests per 1M pop']].astype(int)

In [106]:
stats.head(2)

,USA State,Total Cases,Total Deaths,Active Cases,Total Cases per 1M pop,Deaths per 1M pop,Total Tests,Tests per 1M pop
0,USA Total,2727996,130123,1454383,8242,393,34199918,103322
1,New York,417836,32129,296232,21479,1652,3914938,201245

In [107]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   USA State               64 non-null     object
 1   Total Cases             64 non-null     int32
 2   Total Deaths            64 non-null     int32
 3   Active Cases            64 non-null     int32
 4   Total Cases per 1M pop  64 non-null     int32
 5   Deaths per 1M pop       64 non-null     int32
 6   Total Tests             64 non-null     int32
 7   Tests per 1M pop        64 non-null     int32
dtypes: int32(7), object(1)
memory usage: 2.4+ KB

In [108]:
# Calculating the death rate at each state in US
stats['dead_rate'] = (stats['Total Deaths'] / stats['Total Cases'] * 100)
(stats
    .sort_values(by='dead_rate', ascending=False)   
    .head(5)
    .style
    .hide_index()
    .background_gradient(cmap='OrRd', subset='dead_rate')
)

In [109]:
# Calculating the cured rate at each state in US
stats['cured_rate'] = ((stats['Total Cases'] - stats['Active Cases'])/ stats['Total Cases'] * 100)
(stats
    .sort_values(by='cured_rate', ascending=False)   
    .head(5)
    .style
    .hide_index()
    .background_gradient(cmap='YlGn', subset='cured_rate')
)

##### Exercise 2: To Pull the data from API

Notes for extracting the data from API <br>
To pull or access the data through API, need host & key for the API. There can be few public APIs with no authenticaion required.

In [111]:
DATA_URL = 'https://rapidapi.com/ZermeloTechnologies/api/covid-19-usa-data-by-zt'

r = requests.get(DATA_URL)
print(f'Status {r.status_code}')

Status 200

In [112]:
#url = "https://covid-19-usa-data-by-zt.p.rapidapi.com/GetUSStateWiseData"

headers = {
    'x-rapidapi-host': "covid-19-usa-data-by-zt.p.rapidapi.com",
    'x-rapidapi-key': "e4a0f5191dmsh32f12c91288b7ffp11a5adjsn38b664d6d513"
    }

response = requests.request("GET", url, headers=headers)

print(response.text)

{"statusMsg":"OK","data":[{"code":"MO","name":"Missouri","active":"19996","deaths":"1005","tested":"373007","confirmed":"21001","newdeaths":"1","newtested":"5601","recovered":"0","newconfirmed":"176","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"VT","name":"Vermont","active":"199","deaths":"56","tested":"65764","confirmed":"1208","newdeaths":"0","newtested":"771","recovered":"953","newconfirmed":"0","newrecovered":"4","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"MN","name":"Minnesota","active":"3226","deaths":"1476","tested":"605316","confirmed":"36303","newdeaths":"6","newtested":"12361","recovered":"31601","newconfirmed":"442","newrecovered":"376","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"DE","name":"Delaware","active":"4298","deaths":"509","tested":"110881","confirmed":"11474","newdeaths":"2","newtested":"950","recovered":"6667","newconfirmed":"98","newrecovered":"2","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"MI","name":"Michigan","active":"13436","deaths":"6193","tested":"1045057","confirmed":"70728","newdeaths":"32","newtested":"15682","recovered":"51099","newconfirmed":"505","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"GA","name":"Georgia","active":"78486","deaths":"2805","tested":"833878","confirmed":"81291","newdeaths":"21","newtested":"10761","recovered":"0","newconfirmed":"1874","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"ME","name":"Maine","active":"502","deaths":"105","tested":"94952","confirmed":"3253","newdeaths":"0","newtested":"1429","recovered":"2646","newconfirmed":"34","newrecovered":"23","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"MD","name":"Maryland","active":"59387","deaths":"3190","tested":"535855","confirmed":"67559","newdeaths":"15","newtested":"6542","recovered":"4982","newconfirmed":"305","newrecovered":"3","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"MA","name":"Massachusetts","active":"100829","deaths":"8053","tested":"848141","confirmed":"108882","newdeaths":"0","newtested":"5854","recovered":"0","newconfirmed":"114","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"SD","name":"South Dakota","active":"801","deaths":"91","tested":"80088","confirmed":"6764","newdeaths":"0","newtested":"631","recovered":"5872","newconfirmed":"48","newrecovered":"54","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"SC","name":"South Carolina","active":"20189","deaths":"739","tested":"380572","confirmed":"36399","newdeaths":"19","newtested":"11267","recovered":"15471","newconfirmed":"1755","newrecovered":"2015","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"PA","name":"Pennsylvania","active":"16938","deaths":"6649","tested":"764187","confirmed":"91139","newdeaths":"35","newtested":"11298","recovered":"67552","newconfirmed":"672","newrecovered":"482","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"VA","name":"Virginia","active":"52944","deaths":"1763","tested":"645034","confirmed":"62787","newdeaths":"23","newtested":"8662","recovered":"8080","newconfirmed":"598","newrecovered":"57","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"CT","name":"Connecticut","active":"34139","deaths":"4322","tested":"466394","confirmed":"46514","newdeaths":"2","newtested":"21418","recovered":"8053","newconfirmed":"152","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"CO","name":"Colorado","active":"26529","deaths":"1690","tested":"323857","confirmed":"32698","newdeaths":"9","newtested":"4292","recovered":"4479","newconfirmed":"204","newrecovered":"20","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"OR","name":"Oregon","active":"5727","deaths":"207","tested":"237634","confirmed":"8656","newdeaths":"3","newtested":"2501","recovered":"2722","newconfirmed":"171","newrecovered":"22","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"FL","name":"Florida","active":"148929","deaths":"3505","tested":"1944995","confirmed":"152434","newdeaths":"58","newtested":"32252","recovered":"0","newconfirmed":"6093","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"IN","name":"Indiana","active":"8308","deaths":"2640","tested":"484196","confirmed":"45594","newdeaths":"16","newtested":"7677","recovered":"34646","newconfirmed":"366","newrecovered":"298","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"UT","name":"Utah","active":"9647","deaths":"172","tested":"340753","confirmed":"22217","newdeaths":"4","newtested":"6848","recovered":"12398","newconfirmed":"553","newrecovered":"193","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"IL","name":"Illinois","active":"136262","deaths":"6923","tested":"1604018","confirmed":"143185","newdeaths":"21","newtested":"31069","recovered":"0","newconfirmed":"724","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"OK","name":"Oklahoma","active":"3285","deaths":"387","tested":"341597","confirmed":"13757","newdeaths":"2","newtested":"15404","recovered":"10085","newconfirmed":"582","newrecovered":"498","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"CA","name":"California","active":"225150","deaths":"6082","tested":"4167139","confirmed":"231232","newdeaths":"99","newtested":"105447","recovered":"0","newconfirmed":"7586","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"ID","name":"Idaho","active":"1952","deaths":"92","tested":"89303","confirmed":"6117","newdeaths":"1","newtested":"2958","recovered":"4073","newconfirmed":"365","newrecovered":"175","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"OH","name":"Ohio","active":"48926","deaths":"2863","tested":"787929","confirmed":"51789","newdeaths":"45","newtested":"13547","recovered":"0","newconfirmed":"743","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"RI","name":"Rhode Island","active":"14232","deaths":"950","tested":"242282","confirmed":"16813","newdeaths":"4","newtested":"3762","recovered":"1631","newconfirmed":"49","newrecovered":"4","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"IA","name":"Iowa","active":"5146","deaths":"716","tested":"304188","confirmed":"29074","newdeaths":"5","newtested":"3343","recovered":"23212","newconfirmed":"229","newrecovered":"5361","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"LA","name":"Louisiana","active":"12649","deaths":"3221","tested":"728511","confirmed":"58095","newdeaths":"22","newtested":"23874","recovered":"42225","newconfirmed":"1014","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"KY","name":"Kentucky","active":"11069","deaths":"565","tested":"370934","confirmed":"15624","newdeaths":"5","newtested":"9493","recovered":"3990","newconfirmed":"277","newrecovered":"51","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"NY","name":"New York","active":"290935","deaths":"32032","tested":"3914938","confirmed":"393454","newdeaths":"629","newtested":"52025","recovered":"70487","newconfirmed":"51","newrecovered":"52","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"NV","name":"Nevada","active":"17260","deaths":"507","tested":"277568","confirmed":"18456","newdeaths":"3","newtested":"4551","recovered":"689","newconfirmed":"562","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"KS","name":"Kansas","active":"13303","deaths":"273","tested":"176725","confirmed":"14370","newdeaths":"0","newtested":"0","recovered":"794","newconfirmed":"161","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"TX","name":"Texas","active":"75787","deaths":"2455","tested":"1869282","confirmed":"163060","newdeaths":"39","newtested":"50093","recovered":"84818","newconfirmed":"6354","newrecovered":"3483","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"WY","name":"Wyoming","active":"370","deaths":"20","tested":"33672","confirmed":"1487","newdeaths":"0","newtested":"1816","recovered":"1097","newconfirmed":"37","newrecovered":"27","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"WV","name":"West Virginia","active":"540","deaths":"93","tested":"171764","confirmed":"2905","newdeaths":"0","newtested":"2109","recovered":"2272","newconfirmed":"35","newrecovered":"76","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"HI","name":"Hawaii","active":"177","deaths":"18","tested":"77743","confirmed":"917","newdeaths":"0","newtested":"588","recovered":"722","newconfirmed":"17","newrecovered":"3","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"NM","name":"New Mexico","active":"6354","deaths":"497","tested":"337720","confirmed":"12147","newdeaths":"4","newtested":"6672","recovered":"5296","newconfirmed":"165","newrecovered":"32","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"TN","name":"Tennessee","active":"15306","deaths":"604","tested":"793127","confirmed":"43509","newdeaths":"12","newtested":"15921","recovered":"27599","newconfirmed":"1212","newrecovered":"637","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"NJ","name":"New Jersey","active":"126419","deaths":"15035","tested":"1422374","confirmed":"171667","newdeaths":"43","newtested":"18390","recovered":"30213","newconfirmed":"395","newrecovered":"50","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"NH","name":"New Hampshire","active":"976","deaths":"371","tested":"118298","confirmed":"5782","newdeaths":"4","newtested":"0","recovered":"4435","newconfirmed":"22","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"NE","name":"Nebraska","active":"5356","deaths":"274","tested":"178157","confirmed":"19177","newdeaths":"5","newtested":"2885","recovered":"13547","newconfirmed":"135","newrecovered":"225","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"ND","name":"North Dakota","active":"302","deaths":"79","tested":"106122","confirmed":"3576","newdeaths":"0","newtested":"431","recovered":"3195","newconfirmed":"37","newrecovered":"32","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"WI","name":"Wisconsin","active":"5288","deaths":"784","tested":"571201","confirmed":"28659","newdeaths":"7","newtested":"12809","recovered":"22587","newconfirmed":"601","newrecovered":"370","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"AZ","name":"Arizona","active":"68172","deaths":"1645","tested":"532356","confirmed":"79228","newdeaths":"47","newtested":"20933","recovered":"9411","newconfirmed":"4683","newrecovered":"232","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"NC","name":"North Carolina","active":"18409","deaths":"1380","tested":"910033","confirmed":"65327","newdeaths":"23","newtested":"23728","recovered":"45538","newconfirmed":"1591","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"WA","name":"Washington","active":"31492","deaths":"1332","tested":"548220","confirmed":"32824","newdeaths":"12","newtested":"13777","recovered":"0","newconfirmed":"571","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"AR","name":"Arkansas","active":"5976","deaths":"270","tested":"311203","confirmed":"20777","newdeaths":"5","newtested":"8667","recovered":"14531","newconfirmed":"520","newrecovered":"465","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"AL","name":"Alabama","active":"18229","deaths":"950","tested":"406652","confirmed":"38045","newdeaths":"21","newtested":"13359","recovered":"18866","newconfirmed":"870","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"MT","name":"Montana","active":"303","deaths":"22","tested":"90861","confirmed":"967","newdeaths":"0","newtested":"2118","recovered":"642","newconfirmed":"48","newrecovered":"33","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"AK","name":"Alaska","active":"397","deaths":"14","tested":"112185","confirmed":"937","newdeaths":"0","newtested":"3476","recovered":"526","newconfirmed":"36","newrecovered":"1","lastupdatedtime":"2020-07-01 04:34:05"},{"code":"MS","name":"Mississippi","active":"6786","deaths":"1073","tested":"299691","confirmed":"27247","newdeaths":"14","newtested":"16169","recovered":"19388","newconfirmed":"680","newrecovered":"0","lastupdatedtime":"2020-07-01 04:34:05"}]}

In [113]:
type(response)

requests.models.Response

In [114]:
# Extracting the data from the 'Response' variable.
api = response.json()

New_Data = pd.DataFrame(api['data'])
New_Data.head()

,code,name,active,deaths,tested,confirmed,newdeaths,newtested,recovered,newconfirmed,newrecovered,lastupdatedtime
0,MO,Missouri,19996,1005,373007,21001,1,5601,0,176,0,2020-07-01 04:34:05
1,VT,Vermont,199,56,65764,1208,0,771,953,0,4,2020-07-01 04:34:05
2,MN,Minnesota,3226,1476,605316,36303,6,12361,31601,442,376,2020-07-01 04:34:05
3,DE,Delaware,4298,509,110881,11474,2,950,6667,98,2,2020-07-01 04:34:05
4,MI,Michigan,13436,6193,1045057,70728,32,15682,51099,505,0,2020-07-01 04:34:05

In [115]:
New_Data.shape

(50, 12)

In [134]:
# Extracting new data from the other API

In [135]:
url = "https://covid-19-usa-data-by-zt.p.rapidapi.com/GetUSAllHistoricalData"

headers = {
    'x-rapidapi-host': "covid-19-usa-data-by-zt.p.rapidapi.com",
    'x-rapidapi-key': "e4a0f5191dmsh32f12c91288b7ffp11a5adjsn38b664d6d513"
    }

response1 = requests.request("GET", url, headers=headers)

print(response1.text)

{"statusMsg":"OK","records":[{"dateofrecord":"2020-01-23","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"1","totalrecovered":"0"}},{"dateofrecord":"2020-01-24","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"1","dailyrecovered":"0","totalconfirmed":"2","totalrecovered":"0"}},{"dateofrecord":"2020-01-25","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"2","totalrecovered":"0"}},{"dateofrecord":"2020-01-26","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"3","dailyrecovered":"0","totalconfirmed":"5","totalrecovered":"0"}},{"dateofrecord":"2020-01-27","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"5","totalrecovered":"0"}},{"dateofrecord":"2020-01-28","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"5","totalrecovered":"0"}},{"dateofrecord":"2020-01-29","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"5","totalrecovered":"0"}},{"dateofrecord":"2020-01-30","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"5","totalrecovered":"0"}},{"dateofrecord":"2020-01-31","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"1","dailyrecovered":"0","totalconfirmed":"6","totalrecovered":"0"}},{"dateofrecord":"2020-02-01","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"2","dailyrecovered":"0","totalconfirmed":"8","totalrecovered":"0"}},{"dateofrecord":"2020-02-02","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"8","totalrecovered":"0"}},{"dateofrecord":"2020-02-03","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"3","dailyrecovered":"0","totalconfirmed":"11","totalrecovered":"0"}},{"dateofrecord":"2020-02-04","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"11","totalrecovered":"0"}},{"dateofrecord":"2020-02-05","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"1","dailyrecovered":"0","totalconfirmed":"12","totalrecovered":"0"}},{"dateofrecord":"2020-02-06","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"12","totalrecovered":"0"}},{"dateofrecord":"2020-02-07","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"12","totalrecovered":"0"}},{"dateofrecord":"2020-02-08","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"12","totalrecovered":"0"}},{"dateofrecord":"2020-02-09","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"3","totalconfirmed":"12","totalrecovered":"3"}},{"dateofrecord":"2020-02-10","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"12","totalrecovered":"3"}},{"dateofrecord":"2020-02-11","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"1","dailyrecovered":"0","totalconfirmed":"13","totalrecovered":"3"}},{"dateofrecord":"2020-02-12","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"13","totalrecovered":"3"}},{"dateofrecord":"2020-02-13","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"2","dailyrecovered":"0","totalconfirmed":"15","totalrecovered":"3"}},{"dateofrecord":"2020-02-14","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"15","totalrecovered":"3"}},{"dateofrecord":"2020-02-15","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"15","totalrecovered":"3"}},{"dateofrecord":"2020-02-16","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"15","totalrecovered":"3"}},{"dateofrecord":"2020-02-17","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"15","totalrecovered":"3"}},{"dateofrecord":"2020-02-18","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"15","totalrecovered":"3"}},{"dateofrecord":"2020-02-19","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"15","totalrecovered":"3"}},{"dateofrecord":"2020-02-20","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"15","totalrecovered":"3"}},{"dateofrecord":"2020-02-21","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"20","dailyrecovered":"2","totalconfirmed":"35","totalrecovered":"5"}},{"dateofrecord":"2020-02-22","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"35","totalrecovered":"5"}},{"dateofrecord":"2020-02-23","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"0","totalconfirmed":"35","totalrecovered":"5"}},{"dateofrecord":"2020-02-24","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"18","dailyrecovered":"0","totalconfirmed":"53","totalrecovered":"5"}},{"dateofrecord":"2020-02-25","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"0","dailyrecovered":"1","totalconfirmed":"53","totalrecovered":"6"}},{"dateofrecord":"2020-02-26","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"6","dailyrecovered":"0","totalconfirmed":"59","totalrecovered":"6"}},{"dateofrecord":"2020-02-27","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"1","dailyrecovered":"0","totalconfirmed":"60","totalrecovered":"6"}},{"dateofrecord":"2020-02-28","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"0","dailyconfirmed":"2","dailyrecovered":"1","totalconfirmed":"62","totalrecovered":"7"}},{"dateofrecord":"2020-02-29","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1","totaldeceased":"1","dailyconfirmed":"8","dailyrecovered":"0","totalconfirmed":"70","totalrecovered":"7"}},{"dateofrecord":"2020-03-01","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"0","totaldeceased":"1","dailyconfirmed":"6","dailyrecovered":"0","totalconfirmed":"76","totalrecovered":"7"}},{"dateofrecord":"2020-03-02","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"5","totaldeceased":"6","dailyconfirmed":"25","dailyrecovered":"0","totalconfirmed":"101","totalrecovered":"7"}},{"dateofrecord":"2020-03-03","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1","totaldeceased":"7","dailyconfirmed":"21","dailyrecovered":"1","totalconfirmed":"122","totalrecovered":"8"}},{"dateofrecord":"2020-03-04","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"4","totaldeceased":"11","dailyconfirmed":"31","dailyrecovered":"0","totalconfirmed":"153","totalrecovered":"8"}},{"dateofrecord":"2020-03-05","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1","totaldeceased":"12","dailyconfirmed":"68","dailyrecovered":"0","totalconfirmed":"221","totalrecovered":"8"}},{"dateofrecord":"2020-03-06","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"2","totaldeceased":"14","dailyconfirmed":"57","dailyrecovered":"0","totalconfirmed":"278","totalrecovered":"8"}},{"dateofrecord":"2020-03-07","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"3","totaldeceased":"17","dailyconfirmed":"139","dailyrecovered":"0","totalconfirmed":"417","totalrecovered":"8"}},{"dateofrecord":"2020-03-08","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"4","totaldeceased":"21","dailyconfirmed":"120","dailyrecovered":"0","totalconfirmed":"537","totalrecovered":"8"}},{"dateofrecord":"2020-03-09","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1","totaldeceased":"22","dailyconfirmed":"68","dailyrecovered":"0","totalconfirmed":"605","totalrecovered":"8"}},{"dateofrecord":"2020-03-10","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"6","totaldeceased":"28","dailyconfirmed":"354","dailyrecovered":"0","totalconfirmed":"959","totalrecovered":"8"}},{"dateofrecord":"2020-03-11","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"8","totaldeceased":"36","dailyconfirmed":"322","dailyrecovered":"0","totalconfirmed":"1281","totalrecovered":"8"}},{"dateofrecord":"2020-03-12","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"4","totaldeceased":"40","dailyconfirmed":"382","dailyrecovered":"4","totalconfirmed":"1663","totalrecovered":"12"}},{"dateofrecord":"2020-03-13","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"7","totaldeceased":"47","dailyconfirmed":"516","dailyrecovered":"0","totalconfirmed":"2179","totalrecovered":"12"}},{"dateofrecord":"2020-03-14","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"7","totaldeceased":"54","dailyconfirmed":"547","dailyrecovered":"0","totalconfirmed":"2726","totalrecovered":"12"}},{"dateofrecord":"2020-03-15","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"9","totaldeceased":"63","dailyconfirmed":"773","dailyrecovered":"0","totalconfirmed":"3499","totalrecovered":"12"}},{"dateofrecord":"2020-03-16","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"22","totaldeceased":"85","dailyconfirmed":"1133","dailyrecovered":"5","totalconfirmed":"4632","totalrecovered":"17"}},{"dateofrecord":"2020-03-17","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"23","totaldeceased":"108","dailyconfirmed":"1789","dailyrecovered":"0","totalconfirmed":"6421","totalrecovered":"17"}},{"dateofrecord":"2020-03-18","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"10","totaldeceased":"118","dailyconfirmed":"1365","dailyrecovered":"89","totalconfirmed":"7786","totalrecovered":"106"}},{"dateofrecord":"2020-03-19","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"82","totaldeceased":"200","dailyconfirmed":"5894","dailyrecovered":"2","totalconfirmed":"13680","totalrecovered":"108"}},{"dateofrecord":"2020-03-20","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"44","totaldeceased":"244","dailyconfirmed":"5421","dailyrecovered":"39","totalconfirmed":"19101","totalrecovered":"147"}},{"dateofrecord":"2020-03-21","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"63","totaldeceased":"307","dailyconfirmed":"6413","dailyrecovered":"24","totalconfirmed":"25514","totalrecovered":"171"}},{"dateofrecord":"2020-03-22","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"120","totaldeceased":"427","dailyconfirmed":"8334","dailyrecovered":"0","totalconfirmed":"33848","totalrecovered":"0"}},{"dateofrecord":"2020-03-23","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"125","totaldeceased":"552","dailyconfirmed":"9815","dailyrecovered":"0","totalconfirmed":"43663","totalrecovered":"0"}},{"dateofrecord":"2020-03-24","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"154","totaldeceased":"706","dailyconfirmed":"10073","dailyrecovered":"348","totalconfirmed":"53736","totalrecovered":"348"}},{"dateofrecord":"2020-03-25","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"236","totaldeceased":"942","dailyconfirmed":"12042","dailyrecovered":"13","totalconfirmed":"65778","totalrecovered":"361"}},{"dateofrecord":"2020-03-26","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"267","totaldeceased":"1209","dailyconfirmed":"18058","dailyrecovered":"320","totalconfirmed":"83836","totalrecovered":"681"}},{"dateofrecord":"2020-03-27","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"372","totaldeceased":"1581","dailyconfirmed":"17821","dailyrecovered":"188","totalconfirmed":"101657","totalrecovered":"869"}},{"dateofrecord":"2020-03-28","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"445","totaldeceased":"2026","dailyconfirmed":"19808","dailyrecovered":"203","totalconfirmed":"121465","totalrecovered":"1072"}},{"dateofrecord":"2020-03-29","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"441","totaldeceased":"2467","dailyconfirmed":"19444","dailyrecovered":"1593","totalconfirmed":"140909","totalrecovered":"2665"}},{"dateofrecord":"2020-03-30","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"511","totaldeceased":"2978","dailyconfirmed":"20922","dailyrecovered":"2979","totalconfirmed":"161831","totalrecovered":"5644"}},{"dateofrecord":"2020-03-31","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"895","totaldeceased":"3873","dailyconfirmed":"26341","dailyrecovered":"1380","totalconfirmed":"188172","totalrecovered":"7024"}},{"dateofrecord":"2020-04-01","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"884","totaldeceased":"4757","dailyconfirmed":"25200","dailyrecovered":"1450","totalconfirmed":"213372","totalrecovered":"8474"}},{"dateofrecord":"2020-04-02","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1169","totaldeceased":"5926","dailyconfirmed":"30227","dailyrecovered":"527","totalconfirmed":"243599","totalrecovered":"9001"}},{"dateofrecord":"2020-04-03","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1161","totaldeceased":"7087","dailyconfirmed":"31987","dailyrecovered":"706","totalconfirmed":"275586","totalrecovered":"9707"}},{"dateofrecord":"2020-04-04","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1320","totaldeceased":"8407","dailyconfirmed":"33267","dailyrecovered":"4945","totalconfirmed":"308853","totalrecovered":"14652"}},{"dateofrecord":"2020-04-05","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1212","totaldeceased":"9619","dailyconfirmed":"28219","dailyrecovered":"2796","totalconfirmed":"337072","totalrecovered":"17448"}},{"dateofrecord":"2020-04-06","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1164","totaldeceased":"10783","dailyconfirmed":"29595","dailyrecovered":"2133","totalconfirmed":"366667","totalrecovered":"19581"}},{"dateofrecord":"2020-04-07","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1939","totaldeceased":"12722","dailyconfirmed":"29556","dailyrecovered":"2182","totalconfirmed":"396223","totalrecovered":"21763"}},{"dateofrecord":"2020-04-08","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1973","totaldeceased":"14695","dailyconfirmed":"32829","dailyrecovered":"1796","totalconfirmed":"429052","totalrecovered":"23559"}},{"dateofrecord":"2020-04-09","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1783","totaldeceased":"16478","dailyconfirmed":"32385","dailyrecovered":"1851","totalconfirmed":"461437","totalrecovered":"25410"}},{"dateofrecord":"2020-04-10","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"2108","totaldeceased":"18586","dailyconfirmed":"35098","dailyrecovered":"3380","totalconfirmed":"496535","totalrecovered":"28790"}},{"dateofrecord":"2020-04-11","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1876","totaldeceased":"20462","dailyconfirmed":"29861","dailyrecovered":"2480","totalconfirmed":"526396","totalrecovered":"31270"}},{"dateofrecord":"2020-04-12","cases":{"dailytested":"0","totaltested":"0","dailydeceased":"1557","totaldeceased":"22019","dailyconfirmed":"28917","dailyrecovered":"1718","totalconfirmed":"555313","totalrecovered":"32988"}},{"dateofrecord":"2020-04-13","cases":{"dailytested":"128571","totaltested":"2915890","dailydeceased":"1506","totaldeceased":"23423","dailyconfirmed":"25220","dailyrecovered":"10494","totalconfirmed":"577414","totalrecovered":"43482"}},{"dateofrecord":"2020-04-14","cases":{"dailytested":"145639","totaltested":"3061529","dailydeceased":"2288","totaldeceased":"25711","dailyconfirmed":"26928","dailyrecovered":"4281","totalconfirmed":"604342","totalrecovered":"47763"}},{"dateofrecord":"2020-04-15","cases":{"dailytested":"160499","totaltested":"3222028","dailydeceased":"2483","totaldeceased":"28194","dailyconfirmed":"28486","dailyrecovered":"4333","totalconfirmed":"632828","totalrecovered":"52096"}},{"dateofrecord":"2020-04-16","cases":{"dailytested":"157072","totaltested":"3379100","dailydeceased":"4577","totaldeceased":"32771","dailyconfirmed":"31229","dailyrecovered":"2607","totalconfirmed":"664057","totalrecovered":"54703"}},{"dateofrecord":"2020-04-17","cases":{"dailytested":"139135","totaltested":"3518235","dailydeceased":"3849","totaldeceased":"36620","dailyconfirmed":"31753","dailyrecovered":"3842","totalconfirmed":"695810","totalrecovered":"58545"}},{"dateofrecord":"2020-04-18","cases":{"dailytested":"148225","totaltested":"3666460","dailydeceased":"1883","totaldeceased":"38503","dailyconfirmed":"32248","dailyrecovered":"6295","totalconfirmed":"728058","totalrecovered":"64840"}},{"dateofrecord":"2020-04-19","cases":{"dailytested":"174473","totaltested":"3840933","dailydeceased":"1990","totaldeceased":"40493","dailyconfirmed":"26667","dailyrecovered":"5497","totalconfirmed":"754725","totalrecovered":"70337"}},{"dateofrecord":"2020-04-20","cases":{"dailytested":"136968","totaltested":"3977901","dailydeceased":"1423","totaldeceased":"41916","dailyconfirmed":"25067","dailyrecovered":"1992","totalconfirmed":"779792","totalrecovered":"72329"}},{"dateofrecord":"2020-04-21","cases":{"dailytested":"150389","totaltested":"4128290","dailydeceased":"2342","totaldeceased":"44258","dailyconfirmed":"27322","dailyrecovered":"2875","totalconfirmed":"807114","totalrecovered":"75204"}},{"dateofrecord":"2020-04-22","cases":{"dailytested":"311085","totaltested":"4439375","dailydeceased":"2164","totaldeceased":"46422","dailyconfirmed":"28292","dailyrecovered":"2162","totalconfirmed":"835406","totalrecovered":"77366"}},{"dateofrecord":"2020-04-23","cases":{"dailytested":"192697","totaltested":"4632072","dailydeceased":"3311","totaldeceased":"49733","dailyconfirmed":"28628","dailyrecovered":"2837","totalconfirmed":"864034","totalrecovered":"80203"}},{"dateofrecord":"2020-04-24","cases":{"dailytested":"279044","totaltested":"4911116","dailydeceased":"1973","totaldeceased":"51706","dailyconfirmed":"36134","dailyrecovered":"18876","totalconfirmed":"900168","totalrecovered":"99079"}},{"dateofrecord":"2020-04-25","cases":{"dailytested":"243332","totaltested":"5154448","dailydeceased":"1788","totaldeceased":"53494","dailyconfirmed":"32618","dailyrecovered":"1293","totalconfirmed":"932786","totalrecovered":"100372"}},{"dateofrecord":"2020-04-26","cases":{"dailytested":"255526","totaltested":"5409974","dailydeceased":"1111","totaldeceased":

In [139]:
api1 = response1.json()

New_Data1 = pd.DataFrame(api1['records'])
New_Data1.head()

  dateofrecord                                              cases
0   2020-01-23  {'dailytested': '0', 'totaltested': '0', 'dail...
1   2020-01-24  {'dailytested': '0', 'totaltested': '0', 'dail...
2   2020-01-25  {'dailytested': '0', 'totaltested': '0', 'dail...
3   2020-01-26  {'dailytested': '0', 'totaltested': '0', 'dail...
4   2020-01-27  {'dailytested': '0', 'totaltested': '0', 'dail...

In [146]:
New_Data1['cases'][0]['dailytested']

'463100'

In [140]:
New_Data1.shape

(160, 2)

##### Exercise 3: To extract the data from documents (PDF)

Note: <br>
Data can be stored in documents & below explaination is to extract from PDF file. <br>
We used camelot library for the data extraction

In [117]:
#pip install camelot-py[cv]

In [12]:
import tkinter
import camelot

In [119]:
Data_New = camelot.read_pdf("2020-05-21-COVID19-Report-23.pdf", pages='11')

In [120]:
Data_New[0].df # Accessing the data

,0,1,2,3
0,State,% of total population\ninfected (mean [95%\ncr...,State,% of total population\ninfected (mean [95%\ncr...
1,Alabama\nAlaska\nArizona\nArkansas\nCalifornia...,1.9% [1.2%-3.0%]\n0.2% [0.0%-0.7%]\n2.3% [1.4%...,Montana\nNebraska\nNevada\nNew Hampshire\nNew ...,0.2% [0.0%-0.4%]\n1.2% [0.7%-2.0%]\n1.8% [1.3%...

In [121]:
Data_Extracted=Data_New[0].df

In [122]:
Data_Extracted.columns=Data_Extracted.iloc[0]
Data_Extracted.drop(Data_Extracted.index[0], inplace=True)

In [123]:
Data_Extracted

,State,% of total population\ninfected (mean [95%\ncredible interval]),State,% of total population\ninfected (mean [95%\ncredible interval])
1,Alabama\nAlaska\nArizona\nArkansas\nCalifornia...,1.9% [1.2%-3.0%]\n0.2% [0.0%-0.7%]\n2.3% [1.4%...,Montana\nNebraska\nNevada\nNew Hampshire\nNew ...,0.2% [0.0%-0.4%]\n1.2% [0.7%-2.0%]\n1.8% [1.3%...

In [124]:
# Data Cleaning
Data_Extracted.columns = ['State1','Population infected1','State2','Population infected2']

In [125]:
State1=Data_Extracted['State1'].str.split('\n')
State2=Data_Extracted['State2'].str.split('\n')
Pop1=Data_Extracted['Population infected1'].str.split('\n')
Pop2=Data_Extracted['Population infected1'].str.split('\n')

In [126]:
State1=list(State1)
State1=State1[0]
State2=list(State2)
State2=State2[0]

In [127]:
Pop1=list(Pop1)
Pop1=Pop1[0]
Pop2=list(Pop2)
Pop2=Pop2[0]

In [128]:
State1.extend(State2) # Extending the lState ist 
Pop1.extend(Pop2) # Extending the population list

In [129]:
Data_Extracted1=pd.DataFrame({'State':State1,'Population Infected':Pop1})

In [130]:
Data_Extracted1.head()

        State Population Infected
0     Alabama    1.9% [1.2%-3.0%]
1      Alaska    0.2% [0.0%-0.7%]
2     Arizona    2.3% [1.4%-4.0%]
3    Arkansas    0.5% [0.3%-0.8%]
4  California    1.6% [1.1%-2.5%]

##### Exercise 4: To extract the data from RDBMS

In [ ]:
# Below is the way to extract data from Oracle DB

import cx_Oracle
ip = 'XX.XX.X.XXX'
port = YYYY
SID = 'DW'
dsn_tns = cx_Oracle.makedsn(ip, port, SID)

connection = cx_Oracle.connect('ID', 'PASSWORD', dsn_tns)

In [85]:
query = """SELECT* 
           FROM EMPLOYEE
           WHERE E.DEPTNO=10"""
df_ora = pd.read_sql(query, con=connection)